body {
  line-height:1.2;
  font-size:0.9rem;
  background-color: transparent;
}

html {
  background-color: #eee;
}

code {
  background-color: #cecece;
  padding: 5px 10px;
  border-radius:2px;
  width:350px;
}

@media (max-width: 360px) {
  code {
    width: 100%;
  }
}